:root {
    --textbtn-color: #fff;


    --main-color: #170F23;
    --btn-color: #ff2152;
    --text-color: #fff;
    --hover-color: #2F2739;



    --main-color: #ffffff;
    --btn-color: #8135c4;
    --text-color: #000;
    --hover-color: #a6a4a7;
}

